#aqi-table{
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
    margin:20px;
}

#aqi-table tr,td{
    border: 1px solid #aaaaaa;
}

#aqi-table td{
    width: 100px;
    text-align: center;
}