*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
}

.main{
    border: 1px solid #999;
    padding: 20px;
    margin: 0 auto;
    background-color: #eee;
    overflow: auto;
    min-width: 600px;
}

#team{
    border: 1px solid #999;
    width: 160px;
    padding: 20px;
    background-color: #fff;
    height: 80px;
    float: left;
}

#team .pic{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
}

.tn{
    display: inline;
    font:14px sans-serif bold;
    font-style: normal;
    text-align: center;
}

.introduction{
    border:1px solid #999;
    background-color: #fff;
    padding: 20px;
    margin-right: 142px;
    margin-left: 222px;
}

.article{
    text-indent: 2em;
    font:14px sans-serif;
    line-height: 1.5em;
}

#person{
    width: 120px;
    border: 1px solid #999;
    background-color: #fff;
    float: right;
    padding-top:20px;
}

#person .pic{
    width: 80px;
    height: 80px;
    margin: 0 20px 20px 20px;
    display: inline-block;
}