/*页面整体部分*/
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "sans-serif";
}

body{
    min-width: 1280px;
}

/*页面顶部*/
header{
    height: 55px;
    background-color: #fff;
    position: relative;
}

.title{
    height: 31px;
    margin-top: 13px;
    margin-left: 59px;
    display: inline-block;
}

.title img{
    width: 31px;
    height: 31px;
    float: left; /*浮动这里实现文字垂直居中的关键*/
    display: inline-block;
}

.title h1{
    height: 31px;
    line-height: 31px;
    display: inline-block;
    font-size: 21px;
    color: #393a3a;
    margin-left: 12px;
}

nav{
    display: inline-block;
    float: right;
    margin-right: 145px;
    cursor: default;
}

nav ul{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    width: 65px;
    text-align: center;
    color: #787b83;
    font-size: 14px;
    line-height: 51px;
}

.current{
    color: #e74f4d;
    border-bottom: 4px solid #e74f4d;/*boder的一些属性要总结一下*/
}

nav:hover li{
    color: #787b83;
    border-bottom: none;
}

nav li:hover{
    color: #e74f4d;
    border-bottom: 4px solid #e74f4d;
    cursor: pointer;
}

.login{
    display: inline-block;
    height: 55px;
    position: absolute;
    right: 67px;
    cursor: default;
}

.login img{
    display: inline-block;
    float: left;
    margin-top: 19px;
}

.login a{
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    color: #e74f4d;
    margin-left: 5px;
}

.login a:hover{
    color: #e74f4d;
    border-bottom: 2px solid #e74f4d;
    cursor: pointer;/*鼠标样式要总结一下*/
}

/*带头图的第一部分*/
.section1{
    position: relative;
    height: 851px;
    width: 1281px;
}

.section1 img{
    position: absolute;
    top:0px;
    left: 0;
    width: 1281px;
    height: 851px;
    z-index: -2;
}

.section1 .mask{
    position: absolute;
    top:0px;
    left: 0;
    width: 1281px;
    height: 851px;
    background-color: rgba(4,0,0,0.2);
    z-index: -1;

}

.section1 .slogan_en{
    
    font-size: 60px;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 235px;
    left: 115px;
    z-index: 0;
}

.section1 .slogan_cn{
    
    font-size: 21px;
    font-weight: lighter;
    line-height: 32px;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 310px;
    left: 124px;
    z-index: 0;
}

.section1 button{
    position: absolute;
    top: 428px;
    left: 128px;
    z-index: 0;
    width: 331px;
    height: 65px;
    background-color: #e74f4d;
    
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    color: white;
    border: none;
    letter-spacing: 2px;
}

.section1 button:hover{
    background-color: #ff4f4d;
    cursor: pointer;
}

.section2 {
    height: 250px;
    background-color: #fff;
    margin-top: -160px;
    width: 1281px;
}

.section2 img{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 46px 137px;
}

.section2 div{
    display: inline-block;
    height: 52px;
    width: 314px;
    text-align: center;
}

.section2 div p{
    display: inline-block;
    width: 154px;
    
    font-size: 14px;
    color: #767777;
}

.section2 .hasb{
    border-right: 2px solid #767777;
}

.section3{
    background-color: #ededec;
    width: 1281px;
    height: 361px;
    text-align: center;
}

.section3 img{
    margin-top: 89px;
    width: 91px;
    height: 92px;
    display: inline-block;
}

.section3 div{
    
    font-size: 54px;
    color: #a1a1a1;
    margin-top: 43px;
    letter-spacing: 7px;
}

.section4{
    position: relative;
    height: 342px;
    text-align: center;
}

.section4 img{
    position: absolute;
    top:0;
    left: 0;
    z-index: -2;
    width: 1281px;
    margin-top: -611px;
}

.section4 .mask{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    background-color: rgba(170,52,50,0.2);
    width: 1281px;
    height: 342px;
}

.section4 .search{
    text-align: center;
    
    font-weight: lighter;
    font-size: 21px;
    color: #fff;
    position: relative;
    top: 50px;
}

.section4 .line{
    display: inline-block;
    width: 32px;
    height: 17px;
    border-top: 3px solid #fff ;
    position: relative;
    top:61px;
}

.section4 .info{
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight:lighter ;
    position: relative;
    top: 51px;
}

.section4 form{
    position: relative;
    top: 102px;
}

.section4 select{
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;

    width: 236px;
    height: 36px;
    border: 1px #e2d5cf solid;
    border-radius: 0px ;

    background-color:#fff;
    background-image: url("../img/drop.png");
    background-repeat: no-repeat;
    background-position:208px center;
    color: #a8aaaa;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 12px;
    display: inline-block;
    margin-right: 30px;
    font-weight: lighter;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.section4 select::-ms-expand {
    display: none;
}

/*.section4 .country option{
    width: 236px;
    height: 25px;
    background-color: #e4e3e5;
    color: #a8aaaa;
    font-size: 12px;
}*/

.section4 button{
    width: 236px;
    height: 36px;
    color: #fff;
    background-color: #be4e48;
    letter-spacing: 26px;
    padding-left: 26px;
    font-size: 12px;
    text-align: center;
    border: none;
    font-weight: lighter;
}

.section5{
    height: 605px;
    background-color: #f7f7f7;
}


























